:root {
	--color-white: #fafafa;
	--color-black: #111111;
	--color-dark: #202020;
	--left-right-gap: 15px;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Courier New', Courier, monospace;
	background-color: var(--color-dark);
	color: var(--color-white);
}

::selection {
	background-color: red;
	color: var(--color-white);
}

.container {
	width: calc(800px - var(--left-right-gap) * 2.0);
	padding: 0 var(--left-right-gap);
	margin: 0 auto;
}


#header {
	position: relative;
	z-index: 3;
	background-color: blueviolet;
	color: var(--color-white);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	padding: 20px 0;
	font-weight: 900;
}

#header .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#burger {
	display: block;
	cursor: pointer;
}
#burger:active {
	scale: 0.9;
}

#burger > .line {
	transition: transform 125ms ease;
	transform-origin: center;
	fill: var(--color-dark)
}

#burger.active > .line1 {
	transform: translate(7px, 7px) rotate(-45deg);
}
#burger.active > .line2 {
	transform: rotate(45deg);
}
#burger.active > .line3 {
	transform: translate(7px, -7px) rotate(45deg)
}

#menu {
	position: absolute;
	z-index: 2;
	width: 100%;
	background-color: var(--color-white);
	color: var(--color-black);
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
	margin: 0;
	padding: 20px 0;
	transition: transform 250ms ease;
	transform-origin: top;
	transform: scaleY(0)
}

#menu.active {
	transform: scaleY(1);
}

@media (max-width: 800px) {
	.container {
		width: auto;
	}
}